body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./images/register.jpg'); 
  }
  
  .forgot-password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  .email-address {
    font-weight: bold;
    margin: 10px 0;
  }
  
  p {
    color: #555;
  }
  
  /* Add more styles as needed for a beautiful design */
  