body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
}

#login {
    width: 300px; /* Adjust the width as needed */
    text-align: center;
}

form {
    margin: 0; /* Remove default form margin */
}